# Loading external data

Here we'll load data from an external source. Particularly, [a website](https://data.humdata.org/dataset/novel-coronavirus-2019-ncov-cases) that stores updated data about the coronavirus.

The first step is to visit the website and download the `csv` file to our `data` folder.

Once this is done, please proceed to the step below.

## Importing data

In [1]:
## In order to import data, we'll need the pandas library
import pandas as pd

In [2]:
## Unsurprisingly, the command for reading a csv file with pandas is...
data = pd.read_csv("data/time_series_covid19_confirmed_global.csv")

It is **extremelly unusual** for any downloaded data to be well suited for analysis. Usually, we have to clean it a bit (or even a lot, if we are unlucky).

When this happens, it may be tempting to edit the original data manually with Excel or other editor, but this is not a good practice. It is better to create a script that uses the original data, even if it is ugly (especially if it is ugly) and outputs the clean version (this script is an example). By doing this, we (and potential collaborators) can be sure about how exactly we cleaned the data, among other advantages

## Cleaning data

First, we have to take a look at the data.

If we take a look at the contents of the `csv` file we'll see something annoying: some countries appear several times. This is due to their territorial organization. Australia, for instance, appears one time per state.

In [3]:
data[data['Country/Region'] == 'Australia']

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/5/20,4/6/20,4/7/20,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20,4/14/20
8,Australian Capital Territory,Australia,-35.4735,149.0124,0,0,0,0,0,0,...,96,96,96,99,100,103,103,103,102,103
9,New South Wales,Australia,-33.8688,151.2093,0,0,0,0,3,4,...,2580,2637,2686,2734,2773,2822,2857,2857,2863,2870
10,Northern Territory,Australia,-12.4634,130.8456,0,0,0,0,0,0,...,27,28,28,28,28,28,28,28,28,28
11,Queensland,Australia,-28.0167,153.4000,0,0,0,0,0,0,...,907,921,934,943,953,965,974,983,987,998
12,South Australia,Australia,-34.9285,138.6007,0,0,0,0,0,0,...,407,411,411,415,420,428,429,429,429,433
13,Tasmania,Australia,-41.4545,145.9707,0,0,0,0,0,0,...,82,86,89,98,111,122,133,133,144,165
14,Victoria,Australia,-37.8136,144.9631,0,0,0,0,1,1,...,1135,1158,1191,1212,1228,1241,1265,1268,1281,1291
15,Western Australia,Australia,-31.9505,115.8605,0,0,0,0,0,0,...,453,460,460,481,495,506,514,514,517,527

The Netherlands appears once as the metropolitan part, and other times corresponding to the overseas territories.

In [4]:
data[data['Country/Region'] == 'Netherlands']

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,4/5/20,4/6/20,4/7/20,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20,4/14/20
166,Aruba,Netherlands,12.5186,-70.0358,0,0,0,0,0,0,...,64,71,74,77,82,86,92,92,92,92
167,Curacao,Netherlands,12.1696,-68.9900,0,0,0,0,0,0,...,11,13,13,14,14,14,14,14,14,14
168,Sint Maarten,Netherlands,18.0425,-63.0548,0,0,0,0,0,0,...,25,37,40,40,43,50,50,50,50,52
169,NaN,Netherlands,52.1326,5.2913,0,0,0,0,0,0,...,17851,18803,19580,20549,21762,23097,24413,25587,26551,27419
256,"Bonaire, Sint Eustatius and Saba",Netherlands,12.1784,-68.2385,0,0,0,0,0,0,...,2,2,2,2,2,2,2,3,3,3

We want to summarize each country in a single row. **This requires to stop and think** how such a summary makes sense.

It makes sense to add the number of coronavirus cases between states. On the other hand, adding the latitude and longitude doesn't make any sense. Neither taking the average (why?). Actually, we don't even care so much about the latitude and longitude: let's just drop those columns!

In [1]:
data = data.drop(['Lat', 'Long'], axis=1)

NameError: name 'data' is not defined

And just add the number of cases per country

In [6]:
data = data.groupby('Country/Region').sum()

Congratulations, now the data is nice and clean!

In [7]:
data

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,4/5/20,4/6/20,4/7/20,4/8/20,4/9/20,4/10/20,4/11/20,4/12/20,4/13/20,4/14/20
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,349,367,423,444,484,521,555,607,665,714
Albania,0,0,0,0,0,0,0,0,0,0,...,361,377,383,400,409,416,433,446,467,475
Algeria,0,0,0,0,0,0,0,0,0,0,...,1320,1423,1468,1572,1666,1761,1825,1914,1983,2070
Andorra,0,0,0,0,0,0,0,0,0,0,...,501,525,545,564,583,601,601,638,646,659
Angola,0,0,0,0,0,0,0,0,0,0,...,14,16,17,19,19,19,19,19,19,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West Bank and Gaza,0,0,0,0,0,0,0,0,0,0,...,237,254,261,263,263,267,268,290,308,308
Western Sahara,0,0,0,0,0,0,0,0,0,0,...,4,4,4,4,4,4,4,6,6,6
Yemen,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,1,1,1
Zambia,0,0,0,0,0,0,0,0,0,0,...,39,39,39,39,39,40,40,43,45,45
Zimbabwe,0,0,0,0,0,0,0,0,0,0,...,9,10,11,11,11,13,14,14,17,17

# Tips and tricks
It is possible to concatenate several commands in a practical way using the syntax below. Take a look, it is equivalent to the whole cleaning process we saw above.

For those of you familiar with `R`, this is equivalent to the pipes in the `magrittR` package.

In [8]:
data = pd.read_csv("data/time_series_covid19_confirmed_global.csv")

data = (  
    data.drop(['Lat', 'Long'], axis=1) 
    .groupby('Country/Region')
    .sum()
)

By [Pablo RodrÃ­guez-SÃ¡nchez](https://pabrod.github.io). Netherlands eScience Center.